langchain
langchain-community
langchain-experimental
langchain-huggingface
pypdf
sentence-transformers
huggingface_hub
reportlab
faiss-cpu
rank-bm25
openai
ragas
datasets
langchain-openai
fastapi
uvicorn
python-multipart

